.navbar-burger {
  color: #000000;
  margin-left: auto;
}
.navbar-burger:focus {
  outline: none;
  box-shadow: none;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-content {
  flex-grow: 1;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 4rem;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.input:focus,
.input:focus-within,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.select select:focus,
.select select:focus-within,
.textarea:focus,
.textarea:focus-within {
  border-color: #dbdbdb;
  box-shadow: 0 0 0 0.125em rgba(219, 219, 219, 0.25);
  outline: none;
}
